<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace是指明Mybatis扫描的目录，即cn.semiwarm.admin.mapper.xxxMapper -->
<mapper namespace="cn.semiwarm.admin.mapper.AdministratorMapper">
    <insert id="add" parameterType="cn.semiwarm.admin.entity.Administrator">
        INSERT INTO Administrator (administrator_id, administrator_name, password, privilege_level, status, create_at)
            VALUE (#{administratorId}, #{administratorName}, password(#{password}), #{privilegeLevel}, #{status}, #{createAt})
    </insert>

    <delete id="delete" parameterType="cn.semiwarm.admin.entity.Administrator">
        DELETE FROM Administrator
        WHERE administrator_id = #{administratorId}
    </delete>

    <update id="update" parameterType="cn.semiwarm.admin.entity.Administrator">
        UPDATE Administrator
        SET
            administrator_name      = #{administratorName},
            password        = password(#{password}),
            privilege_level = #{privilegeLevel},
            status          = #{status}
        WHERE administrator_id = #{administratorId}
    </update>

    <select id="findById" parameterType="String" resultType="cn.semiwarm.admin.entity.Administrator">
        SELECT *
        FROM Administrator
        WHERE administrator_id = #{administratorId}
    </select>

    <select id="findAll" resultType="cn.semiwarm.admin.entity.Administrator">
        SELECT *
        FROM Administrator
    </select>

    <select id="verifyAdministratorByName" parameterType="cn.semiwarm.admin.entity.Administrator"
            resultType="cn.semiwarm.admin.entity.Administrator">
        SELECT *
        FROM Administrator
        WHERE administrator_name = #{administratorName} AND password = password(#{password})
    </select>
</mapper>