<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace是指明Mybatis扫描的目录，即cn.semiwarm.admin.mapper.xxxMapper -->
<mapper namespace="cn.semiwarm.admin.mapper.GoodsProviderMapper">
    <insert id="add" parameterType="cn.semiwarm.admin.entity.GoodsProvider">
        INSERT INTO GoodsProvider (provider_id, provider_name, provider_profile, provider_desc, provider_banner)
        VALUES (#{providerId}, #{providerName}, #{providerProfile}, #{providerDesc}, #{providerBanner})
    </insert>
    <delete id="delete" parameterType="cn.semiwarm.admin.entity.GoodsProvider">
        DELETE FROM GoodsProvider
        WHERE provider_id = #{providerId}
    </delete>
    <update id="update" parameterType="cn.semiwarm.admin.entity.GoodsProvider">
        UPDATE GoodsProvider
        SET provider_name    = #{providerName},
            provider_profile = #{providerProfile},
            provider_desc    = #{providerDesc},
            provider_banner  = #{providerBanner}
        WHERE provider_id = #{providerId}
    </update>
    <select id="findById" parameterType="java.lang.Long" resultType="cn.semiwarm.admin.entity.GoodsProvider">
        SELECT *
        FROM GoodsProvider
        WHERE provider_id = #{providerId}
    </select>
    <select id="findAll" resultType="cn.semiwarm.admin.entity.GoodsProvider">
        SELECT *
        FROM GoodsProvider
    </select>
</mapper>